@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MusicStore.Models;
@using MusicStore.ViewModels;
@model ArtistViewModel
@{
}
ViewData["Title"] = "Artists and Albums";
<div class="row">
    <h1 class="text-center col-md-12">@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-md-4">
        @foreach (Artist artist in Model.Artists)
        {
            <h4>@artist.Name</h4>
            <ul>
                @foreach (Album album in Model.Albums)
                {
                    @if (artist.ArtistId == album.ArtistId)
                    {
                        <li>@album.Title</li>
                    }
                }
            </ul>
        }
    </div>
    <div class="col-md-8">
        <img class="img-fluid shadow p-4" src="~/images/rock.jpg"
             style="width:100%;z-index:auto;border-radius: 30px;" />
    </div>
</div>
